<launch>

  <arg name="sensor_name" default="wrpps_single_board" />

  <arg name="rosserial_respawn" default="false" />
  <arg name="port" default="/dev/ttyACM0" />
  <arg name="baud" default="115200" />
  <arg name="intensity_frame_id" default="$(arg sensor_name)_intensity_frame" />
  <arg name="tof_frame_id" default="$(arg sensor_name)_tof_frame" />
  <arg name="rate" default="40" />

  <arg name="tof_field_of_view" default="0.44" />
  <arg name="tof_min_range" default="0.03" />
  <arg name="tof_max_range" default="2.0" />

  <arg name="tof_lpf_coeff" default="0.3" />  <!-- TODO: Tune this to $(arg rate) -->

  <group ns="$(arg sensor_name)">

    <node name="driver"
          pkg="rosserial_python" type="serial_node.py"
          respawn="$(arg rosserial_respawn)"
          output="screen">
      <rosparam subst_value="true">
        port: $(arg port)
        baud: $(arg baud)
        rate: $(arg rate)
      </rosparam>
    </node>

    <!-- Wrap some topic interfaces with service interfaces -->
    <!-- Use service interfaces in your application -->
    <node name="sensor_enabling_service_server"
          pkg="wrpps_ros" type="sensor_enabling_service_server.py"
          respawn="$(arg rosserial_respawn)"
          output="screen">
      <rosparam subst_value="true">
        sensor_enabling_topics:
          - driver/enable_intensity
          - driver/enable_tof
        got_enabling_command_topic: driver/got_enabling_command
      </rosparam>
    </node>

    <!-- Convert message type of sensor output to formal one -->
    <node name="intensity_republisher"
          pkg="wrpps_ros" type="intensity_republisher.py"
          output="screen">
    <remap from="~input" to="driver/output/proximity_intensity/raw" />
      <remap from="~output" to="driver/output/proximity_intensity" />
      <rosparam subst_value="true">
        frame_id: $(arg intensity_frame_id)
      </rosparam>
    </node>
    <node name="tof_republisher"
          pkg="wrpps_ros" type="range_republisher.py"
          output="screen">
      <remap from="~input" to="driver/output/range_tof/raw" />
      <remap from="~output" to="driver/output/range_tof" />
      <rosparam subst_value="true">
        frame_id: $(arg tof_frame_id)
        field_of_view: $(arg tof_field_of_view)
        min_range: $(arg tof_min_range)
        max_range: $(arg tof_max_range)
      </rosparam>
    </node>

    <include file="$(find wrpps_ros)/launch/intensity_model_acquisition.launch">
      <arg name="input_intensity" value="driver/output/proximity_intensity" />
      <arg name="input_range" value="driver/output/range_tof" />
      <arg name="range_lpf_coeff" value="$(arg tof_lpf_coeff)" />
    </include>

  </group>

</launch>
