<launch>

  <arg name="rosserial_respawn" default="false" />
  <arg name="port" default="/dev/ttyACM0" />
  <arg name="baud" default="115200" />
  <arg name="intensity_frame_id" default="intensity_frame" />
  <arg name="tof_frame_id" default="tof_frame" />
  <arg name="rate" default="50" />

  <arg name="tof_min_range" default="0.03" />
  <arg name="tof_max_range" default="2.0" />

  <arg name="tof_lpf_coeff" default="0.3" />  <!-- TODO: Tune this to $(arg rate) -->

  <node name="wrpps_single_board_driver"
        pkg="rosserial_python" type="serial_node.py"
        respawn="$(arg rosserial_respawn)"
        output="screen">
    <rosparam subst_value="true">
      port: $(arg port)
      baud: $(arg baud)
      intensity_frame_id: $(arg intensity_frame_id)
      tof_frame_id: $(arg tof_frame_id)
      tof_field_of_view: 0.44  # 25 degrees
      tof_min_range: $(arg tof_min_range)
      tof_max_range: $(arg tof_max_range)
      rate: $(arg rate)
    </rosparam>
  </node>

  <include file="$(find wrpps_ros)/launch/intensity_model_acquisition.launch">
    <arg name="input_intensity" value="wrpps_single_board_driver/output/proximity_intensity" />
    <arg name="input_range" value="wrpps_single_board_driver/output/range_tof" />
    <arg name="range_lpf_coeff" value="$(arg tof_lpf_coeff)" />
  </include>

</launch>
